/* alerts */
#long-tweet {
  color: red;
  border: 5px solid red;
  padding: 10px;
  display: none;
}

#empty-tweet {
  color: red;
  border: 5px solid red;
  padding: 10px;
  display: none;
}

/* new tweet content  */
.tweet-form {
  display: flex;
  flex-direction: column;
}

#tweet-text {
  outline: none;
  border: none;
  border-bottom: 5px solid;
  background-color: #d4c685;
}

.tweet-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}

.counter {
  font-family: 'Bungee';
  color: #cd6945;
}
.overCounter {
  color: red;
}

.tweet-button {
  background-color: #cd6945;
  font-family: 'Bungee';
  color: white;
  border-radius: 8px;
}


@media only screen and (min-width: 1024px) {
  .new-tweet {
    margin-top: 250px;
    margin-right: 2%;
  }
}